footer {
    background-color: black;
    color: #F8C700;
    padding: 20px;

    div {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 300px;
        height: 200px;
        border: 1px solid black;
    }
}

.container {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: min-content min-content;
    grid-template-areas:
    "redes web"
    "redes web"
}
