/* Estilos para dispositivos móviles */
@media (max-width: 768px) {

    /* Contenido */
    section {
        padding: 10px;
    }

    /* Pie de página */
    footer {
        padding: 10px;
        font-size: 14px;
    }
}