$color-texto-amarillo: #F8C700;
$color-nav-fondo: black;
$color-fondo: #F8C700;
$color-texto: black;
$menu-background-color: black;
$menu-text-color: yellow;

$theme-colors: (
    "warning": $warning,
    "dark": $dark
);